.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 81px;
  margin-bottom: 81px;
  gap: 25px;
}

@media (min-width: 1070px) {
  .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 25px;
    width: 1070px;
    height: 517px;
  }
}
