.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (min-width: 1070px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
  }
}
